body {
    font-family: 'Arvo', serif;
    color: #363A44;
    background-color: #EDEEF0;
    text-align: center;
}

.container {
    padding: 25px;
}
.jumbotron {
    padding: 0px;
    background-color: #EDEEF0;
}

.title {
    font-family: 'Creepster', cursive;
}

img {
    height: 400px;
    width : auto;
    cursor: pointer;
}